@font-face {
  font-family: 'Rainy Hearts';
  src: url(./fonts/rainyhearts/rainyhearts.ttf);
}

* {
  margin: 0;
  font-family: 'Rainy Hearts';
  letter-spacing: 2px;
  color: #202020;
  background-color: seashell;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px dashed pink;
}

.navbar h1 {
  color: #bb416b;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  text-decoration: underline;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}